<h1 class="mt-3">Selectores Anidados</h1>
<hr>

<form [formGroup]="myForm">
    <!-- Región -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select formControlName="region" class="form-control">
                <option value="">-- Seleccione continente --</option>
                <option *ngFor="let region of regions" [value]="region"> {{ region }} </option>
            </select>
        </div>
    </div>


     <!-- Countries -->
     <div class="row mb-3">
        <div class="col">
            <label class="form-label">País:</label>
            <select formControlName="country" class="form-control">
                <option value="">-- Seleccione país --</option>
                <!-- <option *ngFor="let region of regions" [value]="region"> {{ region }} </option> -->
            </select>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<code>
    {{ myForm.value | json }}
</code>

<p>
    is form valid: {{ myForm.valid }}
</p>